<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/executive">Executive</a></li>
    <li><a href="/subcommissions">Subcommissions</a></li>
    <li><a href="/chart">Chart/Time Scale</a></li>
    <li><a href="/gssps">GSSPs</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/guide">Stratigraphic Guide</a></li>
    <li><a href="/statutes">Statutes & Guidelines</a></li>
    <li><a href="/prizes">Prizes</a></li>
    <!--<li><a href="/forum">Discussions</a></li>-->
    <li><a href="/publications">Publications</a></li>
    <li><a href="/links">Links</a></li>
</ul>

    
    
    
    
    
    
    
    
    
    
    
    

